@tailwind base;
@tailwind components;
@tailwind utilities;

/* profile.blade.php styles */
.avatar .camera__cover{
    clip-path: circle(75% at center 150%);
    overflow: hidden;
    transition: .5s ease;
}
.avatar:hover .camera__cover{
    clip-path: circle(100% at center);
    overflow: hidden;
}
.avatar .camera__cover svg{
    translate: 0 100%;
    transition: .5s;
    transition-delay: .3s;
    opacity: 0;
}
.avatar:hover .camera__cover svg{
    translate: 0 0;
    opacity: 1;
}

/* profile.blade.php styles */

/* create.blade.php styles */
.drop__area[data-mode="preview"] #upload {
    display: none;
}

.drop__area[data-mode="preview"] #preview {
    display: block;
}
/* create.blade.php styles */
